body {
    margin: 0;
    font-size: 16px;
    background-color: #CCC5B9;
    color: #FFFCF2;
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: clamp(1rem, 1vw, 3rem);
    padding: 0.2rem;
    
}
.menu {
    background-color: #252422;
    color: #FFFCF2;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0px;
    font-size: clamp(0.8rem, 1.1vw, 3.3rem);
    line-height: 3rem;
    list-style-type: none;
    font-weight: 600;

}
.itensMenu  {
    left: 100rem;
    text-align: center;    
}

span {
    padding: 30px 25px 29px 25px;
}

.conteudo {
    margin: auto;
    width: 60%;
    color: #403D39;
    padding: 2rem;
    margin-top: 20%;
}
hr {
    border: solid 1px;
}
.foto{
    text-align: center;
    margin: 1rem;
}
.foto img{
    width: clamp(250px, 100%, 500px);
    border-radius: 100%;
    text-align: center;
}
h2 {
    font-size: 2rem;
}
h1 {
    font-size: 2.5rem;
}
li {
    font-size: 1.2rem;
}
.conteudo a {
    text-decoration: none;
    font-weight: 600;
    color: #EB5E28 ;
}
.conteudo a:visited {
    color: #331e1e;
}
.conteudo a:hover {
    color: #cc4192;
}
.redeslink {
    background-color: #eb5f2841 ;
    border-radius: 2%;
    padding: 1rem;
}

#skills, #redes, #recomend, #sobre {
    background-color: #eb5f28be;
    border-radius: 3.2%;
    margin: 0rem -2rem;
    padding: 0.5rem;
}
.pattern {
    background-color: #eb5f2841 ;
    border-radius: 2%;
    padding: 2rem;
    line-height: -2rem;
}
#recomend {
    margin-top: 3%;
}
span:hover {
    background-color: #4d3930;
    border-radius: 4%;
}
#jp{ 
    width: clamp(200px, 100%, 1100px);

}
.itensMenu a {
    color: #837a65;
    text-decoration: none;
}
.header {
    text-align: center;
}
.header p {
    float: right;
    max-width: 15rem;
    line-height: 3rem;
    margin: 6rem 0rem 0rem 0rem;

}
.foto img {
    padding: 5px;
    background-color: #eb5f2881 ;
    float: left;
}
#sobre {
    clear: both;
}