body {
    color: #0D0C1D;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.kaell {
    width: 100%;
    height: auto;
    max-width: 400px;
    background-color: white;
    padding: 10px;
    background-repeat: repeat;
    text-align: center;
}

.top {
    font-size: clamp(5rem, 3vw, 14rem); 
    text-align: center;
}
#inde {
    background-color: #161B33;
    line-height: 50px;
    color: #F1DAC4;
    margin: 0;
    text-align: center;
}
#headerText {
    text-align: center;
    font-size: 1.3rem;
    background-color: #A69CAC;
    padding: 20px;
}

.indice {
    font-size: clamp(1.3rem, 1vw, 5rem);
    justify-content: center;
    display: flex;
    color: #F1DAC4;
}

.container {
    flex-direction: column-reverse;
    align-content: center;
    
 
}
 .top {
    background-color: #A69CAC;
    background-size: 50px;
    margin: 0px;
    margin-top: 0px;
    padding: 60px;
 }

 .container {
    background-color:#F1DAC4;
    margin: 0px;
    
 }
.indice {
    background-color:#474973;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 20px;    
}
.lista {
    margin: 0px 50px;
}
#intro {
    text-align: center;
}
a, a:visited {
   color: #ee4040; 
   text-decoration: none;
}