* {
	line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color:rgb(253, 251, 251) ;
	padding-top: 	65px;
	font-size: 1.1rem;
}
#cabecalho, nav {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	margin: auto;
	display: block;
	margin-top: -65px;
	padding-top: 	65px;
}
#minha_foto {
	width: clamp(100px, 100%, 300px);
}

.lateral {
	float: right;
	margin: auto;
	padding: 5px;
	width: 17.2%;
	font-size: 0.8rem;
}
#menu {
	display: inline-block;
}
main {
	
	width: 57%;
	margin: auto;
}
.link ,a:visited a{
	display: block;
	color: rgb(25, 0, 255);
	text-decoration: none;
}
main, aside, nav, header, ul, ol, li , section, article, footer, p, h1, h2, h3, a, img {
	border: solid 1px;
}
.lista h3{
	display: inline;
}
.lado-esquerdo {
	float: left;
	width: 45%;
	margin: auto;
	
}
.lado-direito {
	float: right;
	width: 45%;
	margin: auto;

}
footer {
	clear: both;
}
h1, h2 ,h3 {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}
